.doctors-page{

padding:80px 8%;

background:#f8fafc;

min-height:90vh;

}


.doctors-page h1{

text-align:center;

font-size:42px;

color:#2563eb;

margin-bottom:50px;

}



.doctor-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(280px,1fr));

gap:30px;

}



.doctor-card{

background:white;

padding:35px;

border-radius:25px;

text-align:center;

box-shadow:
0 15px 35px rgba(0,0,0,.08);

transition:.3s;

}



.doctor-card:hover{

transform:translateY(-10px);

}



.doctor-icon{

height:90px;

width:90px;

margin:auto;

border-radius:50%;

display:flex;

align-items:center;

justify-content:center;

background:#dbeafe;

color:#2563eb;

}



.doctor-card h2{

margin-top:20px;

}



.doctor-card h3{

color:#0f766e;

margin:10px;

}



.doctor-card p{

color:#64748b;

}



.doctor-info{

margin:20px 0;

}



.doctor-card button{

border:none;

background:#2563eb;

color:white;

padding:13px 28px;

border-radius:30px;

font-weight:600;

}